body {
        margin: 0px;
        padding: 0px;
        width: 100vw;
        height: 100vh;

}
.zawisza-app , .zawisza-app * , .zawisza-app *:after , .zawisza-app *:before  {
    box-sizing: border-box;
}
.zawisza-app {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    align-items:center;
    font-family:sans-serif;
}
.header {
    display:inline-block;
    width:100%;
    background-color:#2a2644;
    padding:15px;
    color:#efefef;
    max-height:80px;
    height: 100%;
}
.logo {
    width:auto;
    height:100%;
    object-fit:contain;
    
    display: inline-block;
}
.logo-container {
    height: 100%;
    padding-left: 50%;
}
.navigation {
    display:inline-block;
    width:100%;
    background-color:#3a355f;
    /* padding:15px; */
    padding: 5px;
    color:#efefef;
    /* margin-left: -15px; */
    /* margin-right: -15px; */
}
.row {
    margin-left:-15px;
    margin-right:-15px;
    font-size: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display:inline-flex;
}
.container-fluid {
    padding: 15px;
    width:100%;
    height:100%;
}
.navigation__wraper {
    width:100%;
    height:auto;
}
.navigation__item {
    list-style: none;
    display:inline-block;
    padding:15px;
    margin: 0px;
    font-size: initial;
    border-radius: 5px;
}
.navigation__item--hoverable {
    transition: background-color 0.5s ease-in-out;
    background-color: #3a355f;
}
.navigation__item--hoverable:hover {
    background-color: #23203a;
}
.navigation__link {text-decoration:none; color:inherit}
.footer {
    display: inline-block;
    max-height: 80px;
    height: 100%;
    width: 100%;
    background-color: #2a2644;
}